name: Infracost

on:
  pull_request:
    paths:
      - 'terraform/**'

jobs:
  infracost:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Infracost
        uses: infracost/actions/setup@v2
        with:
            api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Generate Infracost diff
        run: |
          infracost breakdown \
           --path=terraform \
           --format=json \
           --compare-to=infracost-base.json \
          --out-file=/tmp/infracost.json

      - name: Post Infracost comment
        uses: infracost/actions/comment@v1
        with:
            path: /tmp/infracost.json
            behavior: new
            github-token: ${{ secrets.GITHUB_TOKEN }}     